header {
  padding: 20px;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-weight: bolder;
}

main {
  min-height: 500px;
}

.cards-row > div {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0px;
  margin: 20px;
  text-align: center;
  height: 300px;
  
}

.cards-row img {
  width: 110px;
  height: 135px;
  margin-top: 5px;
  
}

.loginPopup, 
.loginSignup {
  background-color: #ccc;
  li {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
  }
}